@using YangOne.Localization
@model LoginViewModel
@inject ILocaleResourceProvider LocaleResource;

@{

    LocaleResource.LookUpGroupAt("Account");
    ViewData["Title"] = LocaleResource.Get("Account.Login.Title");
    Layout = "_LoginLayout";
}


<section class="login-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-card card">
                    <div class="card-body">

                        <h3 class="card-title">@LocaleResource.Get("Account.Login.Title")</h3>
                            <div class="form-content">
                                <form asp-route="Login">
                                    <input type="hidden" asp-for="ReturnUrl" />

                                    <fieldset>
                                        <div class="form-group">

                                            <input class="form-control" placeholder="@LocaleResource.Get("Account.Login.EmailOrUserName")" asp-for="Username" autofocus>
                                        </div>
                                        <div class="form-group">

                                            <input type="password" class="form-control" placeholder="@LocaleResource.Get("Account.Login.Password")" asp-for="Password" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-main btn-block" name="button" value="login">
                                                @LocaleResource.Get("Account.Login.Title")
                                            </button>

                                        </div>
                                        <partial name="_ValidationSummary" />
                                        <div class="forgot-password">

                                            <button type="button" onclick="location.href='/account/forgotpassword'" class="btn btn-lg bd-radius-4" name="button">

                                                @LocaleResource.Get("Account.Login.ForgotPassword")

                                            </button>
                                            <button type="button" onclick="location.href='/account/register'" class="btn btn-lg btn-main bd-radius-4" name="button">

                                            @LocaleResource.Get("Account.Login.JoinUs")

                                            </button>
                                        </div>

                                    </fieldset>
                                </form>

                            </div>
                        

                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

