@using YangOne.Localization
@inject ILocaleResourceProvider LocaleResource;
@{
    LocaleResource.LookUpGroupAt("Account");
    ViewData["Title"] = LocaleResource.Get("Account.Reset.Title");
    Layout = "_LoginLayout";
}


<section class="login-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-card card">
                    <div class="card-body">
                        <form method="post" asp-antiforgery="true">

                            <input name="Code" value="@Model.Code" type="hidden" />
                            <div class="form-group">
                                <label> @LocaleResource.Get("Account.Register.Email")</label>
                                <input asp-for="Email" class="form-control" placeholder="@LocaleResource.Get("Account.Register.PlaceHolder.Email")" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            @if (Model.HasError == false)
                            {
                                <div class="form-group">
                                    <label asp-for="Password">@LocaleResource.Get("Account.Register.Password")</label>
                                    <input type="password" asp-for="Password" class="form-control" id="PasswordField" placeholder="@LocaleResource.Get("Account.Register.PlaceHolder.Password")" autocomplete="off" />
                                    <div>
                                        <input type="checkbox" id="ShowPassword"> Show Password
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>@LocaleResource.Get("Account.Register.RePassword")</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPasswordField" placeholder="@LocaleResource.Get("Account.Register.PlaceHolder.ConfirmPassword")" autocomplete="off" />
                                    <div>
                                        <input type="checkbox" id="ShowConfirmPassword"> Show Confirm Password
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            }

                            <div class="form-group">

                                @if (Model.HasError == false)
                                {
                                    <button class="btn btn-lg btn-main btn-block" name="button" value="login">
                                        @LocaleResource.Get("Account.Reset.Title")
                                    </button>
                                }
                                else
                                {
                                    <p class="" style="color:red">@Model.Message</p>
                                }


                            </div>
                          @*   <div asp-validation-summary="All" class="text-danger"></div> *@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }

<script>
    // Show/Hide Password
    document.getElementById("ShowPassword").addEventListener('change', function() {
        var passwordField = document.getElementById("PasswordField");
        if (this.checked) {
            passwordField.type = "text";  // Change to text so user can see the password
        } else {
            passwordField.type = "password";  // Change back to password type
        }
    });

    // Show/Hide Confirm Password
    document.getElementById("ShowConfirmPassword").addEventListener('change', function() {
        var confirmPasswordField = document.getElementById("ConfirmPasswordField");
        if (this.checked) {
            confirmPasswordField.type = "text";  // Change to text so user can see the password
        } else {
            confirmPasswordField.type = "password";  // Change back to password type
        }
    });
</script>